.appbar {
    position: fixed;
    height: 120px;
    box-shadow: none!important;
}

.toolbar {
    justify-content: center;
    position: relative;
    min-height: 120px!important;
    color: var(--palette-third);
    font-size: 5rem;
    font-weight: 100;

}

