.paper {
   padding: 20px 0;
}

.addTaskBlock {
   padding: 0 20px;
   border-bottom: 2px solid var(--palette-secondary);
}

.tasksList {
   padding: 20px 0 0;
}

.buttonsBlock {
   padding: 20px 20px 0;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 15px;
}