.block {
    position: relative;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-around;
}

.button {
    padding: 8px 0 8px 10px;
}

.errorMessage {
    position: absolute;
    bottom: 0;
    padding-left: 12px;
    font-size: 0.875rem;
    color: var(--palette-fifth);
}